<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title"><p>&nbsp;</p> Bem Vindo! <p>&nbsp;</p></mat-card-title>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">
        <p>&nbsp;</p>
        <p>Projeto Web Fullstack completo com tecnologias como <strong>Spring Boot 2.x</strong>, <strong>Angular</strong> 10 e 11, <strong>Heroku</strong>, <strong>JPA</strong>, <strong>Git</strong>, <strong>Github, MySQL, H2</strong></p>
        <p>O Site fornece um gerenciamento de livros simples, mas com <strong>várias boas práticas em código</strong> que facilitam a manutenção e adição de novas funcionalidades.</p>
        <p> Podemos <u>listar</u>, <u>criar</u>, <u>editar</u> e <u>excluir</u> livros e categorias inclusive com responsividade adaptado a telas menores de smartphone.</p>
        <p> Usamos Validação tanto do backend quanto com formulários reativos do Angular Material.</p>
        <p>&nbsp;</p>
        <p>Toda a aplica&ccedil;&atilde;o &eacute; organizada em commits sobre cada parte do projeto.<br /></p>
        <p>Links do Código Fonte:<br /></p>
            <a href="https://github.com/consubr/bookstore-front" target="_blank"> <strong>FrontEnd</strong> </a>
            <p>&nbsp;</p>
            <a href="https://github.com/consubr/bookstore-api" target="_blank"> <strong>BackEnd</strong> </a>
        <p>&nbsp;</p>
        <p>Backend esta hospedado na plataforma Heroku: Ao utilizar o sistema e n&atilde;o aparecer as categorias, aguarde 30 segundos para os itens serem carregados.</p>
        <p>&nbsp;</p>
    </mat-card-subtitle>
</mat-card>